body {
  color: whitesmoke;
  background-color: aqua;
  background-image: url("https://github.com/lushbough/lushbough-site/blob/main/images/sailing.gif");
  position: center;
  background-repeat: repeat;
  background-size: 20rem;
}

a:link {
  color: aquamarine;
}

a:visited {
  color: aquamarine;
}

a:hover {
  color: lightgaquamarine;
}

a:active {
  color: hotaquamarine;
}
